style.
  hr {
  display: block;
  margin-top: 15em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  }
|     
html
  head
  body
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    |       
    title JavaScript Animation
    |       
    |       
    script(type='text/javascript').
      <!--
      var imgObj = null;
      var animate ;
      var clicks = 1;
      var down = 0;
      function init(){
      imgObj = document.getElementById('myImage');
      imgObj.style.position= 'relative';
      imgObj.style.left = '0px';
      img.Obj.style.top = '0px';
      }
      function moveRight(){
      // imgObj.style.left = parseInt(imgObj.style.left) - 10 + 'px';
      imgObj.style.top = parseInt(imgObj.style.top) + 5 + 'px';
      down = down + 1;
      animate = setTimeout(moveRight,20); // call moveRight in 20msec
      if( down>100)
      {
      reset();
      }
      }
      function stop(){
      clearTimeout(animate);
      imgObj.style.top = '0px';
      down = 0;
      }
      function reset(){
      clearTimeout(animate);
      //imgObj.style.left = '0px';
      imgObj.style.top = '0px';
      down = 0;
      moveRight();
      }
      function count(){
      clicks += 1;
      };
      document.onkeydown = function(e) {
      switch (e.keyCode) {
      case 37:
      if(down < 85 && down > 80)
      alert('YOU WIN');
      else
      alert('left');
      break;
      case 38:
      alert('up');
      break;
      case 39:
      alert('right');
      break;
      case 40:
      alert('down');
      break;
      }
      };
      window.onload =init;
      //-->
    |       
    |    
    |    
    |    
    body
      p#demo(value='0')
      |   
      input#qty(value='2')
      |       
      form
        img#myImage(style='position: relative; left: 0px; top: 0px;', src='html.gif')
        |          
        input(value='Start', onclick='moveRight(); count();', type='button')
        |          
        input(value='Stop', onclick='stop();', type='button')
      hr(size='1')
      |       
      |    
      script.
        var demo = document.getElementById("qty").value;
        document.getElementbyId('qty').value = demo + clicks;
        //demo.innerHTML = clicks;

